@model PrettyWebsite.Models.ViewModels.Pages.SearchPageViewModel

@{
    ViewBag.Title = "Search";
}


<div class="form-inline my-2 my-lg-0">

    <div class="mb-3">

        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="input-group">
                <select class="bootstrap-select btn btn-secondary dropdown-toggle" name="searchType">
                    <option value="1" selected="selected">Title</option>
                    <option value="2">Articles And News</option>

                </select>
                <div class="input-group-text">

                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
                </div>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query">
            </div>
        }
    </div>
</div>

@if (Model.MovieSearchViewModel != null)
{
    @Html.Partial("_MovieSearchPartial", Model.MovieSearchViewModel)
}

@*@if (Model.NewsSearchViewModel != null)
{
    @Html.Partial("_NewsSearchPartial", Model.NewsSearchViewModel)
}*@