@using EPiServer.ServiceLocation
@using EPiServer.DataAbstraction


@model PrettyWebsite.Models.ViewModels.Pages.StartPageViewModel

@Html.PropertyFor(m => m.CurrentPage.CarouselArea, new { CssClass = "row" })
@foreach (int category in Model.CurrentPage.Category)
{
    var name = ServiceLocator.Current.GetInstance<CategoryRepository>().Get(category).Name;
<h2>@name</h2>
}
@Html.PropertyFor(m => m.CurrentPage.RssFeedArea, new { CssClass = "row" })










