
@{
    ViewBag.Title = "Error 404";
}

<style type="text/css">
    body {
        font-family: Verdana, Arial, Helvetica, Tahoma;
        font-size: 0.65em;
        color: #333;
        background-color: black;
    }

    div {
        background-color: black;
        border-color: black;
        text-align: center;
        margin-top: 2%;
        margin-left: 0;
        border: 0;
        padding: 0;
    }

    img {
        border: 0;
        padding: 0;
        margin: 0;
    }
</style>
<div>
    <a href="https://prettywebsite.local/">
        <img src="~/Static/Images/lost404.png" alt="404 - page not found" />
        <div>
            <h1>Back to PrettyWebsite </h1>
        </div>
    </a>
</div>


