@model PrettyWebsite.Models.Forms.SearchFormModel

@{ 
    Layout = null;
}
@if (Model.SearchResult.Search.Count() > 0)
{

    foreach (var movie in Model.SearchResult.Search)
    {
        <li class="nav-item ml-3">
            <a href="/Search/MovieDetails?id=@movie.imdbID">@movie.Title</a>
        </li>
    }

}

