@model PrettyWebsite.Models.ViewModels.Result.FindResultViewModel

@{
    Layout = null;
}

@if (Model.Result != null)
{
    foreach (var item in Model.Result)
    {
<option class="SearchTextOption text-warning" value="@item.Title" data-href="@item.Url">
    @Html.Raw(item.Title)
</option>
    }
}