@model PrettyWebsite.Models.ViewModels.Result.FindResultViewModel

@{
    Layout = null;
}

@if (Model.Result != null)
{
    foreach (var item in Model.Result)
    {
        <option class="SearchTextOption" value="@item.Title" data-href="@item.Url">
            <p class="text-warning">@Html.Raw(item.Excerpt)</p>
        </option>
    }
}