@model PrettyWebsite.Models.ViewModels.MovieSearchViewModel


@if (Model.SearchResult.Search.Count() > 0)
{
    <ul>
        @foreach (var movie in Model.SearchResult.Search)
        {
            <li>
                <a href="@Url.ContentUrl(Model.CurrentPage.ContentLink)MovieDetails?id=@movie.imdbID">@movie.Title</a>
            </li>
        }
    </ul>
}
