@using PrettyWebsite.Models.Forms

@model SearchFormModel

@{
    Layout = null;
}



@if (Model.SearchResult.Search.Count() > 0)
{
<div style="display:flex;">

    <div class="d-flex flex-wrap bd-highlight" style="margin:0;padding:0;">

        @foreach (var movie in Model.SearchResult.Search)
        {
            <div class="p-2 bd-highlight"><a class="btn btn-warning text-white mb-3" style="width:345px;" href="/Search/MovieDetails?id=@movie.imdbID">@movie.Title</a></div>

        }
    </div>

</div>


    

}


