@model PrettyWebsite.Models.ViewModels.MovieSearchViewModel


@if (Model.Search != null)
{
<ul>
    @foreach (var movie in Model.Search.SearchResult)
    {
<li>
    <a href="@Url.ContentUrl(Model.CurrentPage.ContentLink)MovieDetails?id=@movie.imdbID">@movie.Title</a>
</li>}
</ul>}
