@using EPiServer.Framework.Localization
@using EPiServer.ServiceLocation
@{
    Layout = null;
    var localizationService = ServiceLocator.Current.GetInstance<LocalizationService>();
}
<div class="container text-dark bg-warning">
    <div class="row">
        <div>
            <h1 class="text-center mt-3 mb-3">@localizationService.GetString("/MovieReview/Title")</h1>

            <div id="partialViewReviewResult"></div>
        </div>
    </div>
</div>

<script>
    function play() {
        $.get("/MovieReviewResult/Index",
            function (data, status) {
                $("#partialViewReviewResult").empty().append(data);
                //alert("Data: " + data + "\nStatus: " + status);
            });
    };
    play();
</script>