<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <connectionStrings>
    <add name="EPiServerDB"
      connectionString="Data Source=Localhost;Initial Catalog=PrettyWebsiteDB;Connection Timeout=60;Integrated Security=True;User ID=epi_user;Password=Sommar20;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <episerver.find
    serviceUrl="https://demo02.find.episerver.net/ADRwrOKrRcqTCx1av46ouN2Zru768EoP/"
        defaultIndex="wikenbrant_prettywebsite" xdt:Transform="Replace"/>

  <system.web>
    
       <compilation xdt:Transform="RemoveAttributes(debug)" />
   
  </system.web>
</configuration>