<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EPiServerDB" connectionString="Data Source=Localhost;Initial Catalog=PrettyWebsiteDB2;User ID=epi_user;Password=Sommar20;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <episerver.find serviceUrl="https://demo02.find.episerver.net/qQD1q7vFUmSZfiz3mSILO3vLzKgHXByZ/" defaultIndex="wikenbrant_epitest" />
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>